<a name="programma"></a>
<section class="alpha_24">
  <div class="container group">
    <h3 class="center">Il programma</h3>
    <table id="schedule" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            Time
          </th>
          <th>
            Aula magna
          </th>

        </tr>
      </thead>
      <tr class="common_event">
        <td class="time">09:00 &ndash; 09:30</td>
        <td><h4><a href="#" title="">Check-in</a></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">09:35 &ndash; 10:05</td>
        <td>
            <h4><a href="#" title="">Update Your Wetware</a></h4>
            <a href="https://twitter.com/andreaprovaglio" title="Andrea
                Provaglio">Andrea Provaglio - @andreaprovaglio</a><br />
            <p>

            Molti Project Manager si trovano oggi a gestire progetti la
            cui realizzazione si basa sulla conoscenza di chi ci lavora
            e non piu sulle capacità della classica <em>forza
                lavoro</em> della
            rivoluzione industriale.  Ciononostante, tantissimi progetti
            vengono gestiti con modalità che abbiamo ereditato da quel
            periodo storico, come le modalità di gestione, gli strumenti
            di pianificazione /gestione, e la cultura del gruppo di
            lavoro.
            </br>
            Naturalmente, quello che funzionava bene per progetti e
            processi di tipo industriale, non si adatta tanto a chi
            lavora con la conoscenza, e le difficoltà che molti PM oggi
            incontrano nascono proprio dal non aver <em>aggiornato</em>
            l'approccio e la cultura della gestione di progetti.  In
            questa presentazione vedremo quali sono i principali
            cambiamenti necessari per gestire progetti basati sulla
            conoscenza, come le strategie e le forme mentali per
            convivere con un alto livello di indeterminatezza.  Vedremo
            anche perché l'attenzione, in progetti di questo tipo, si
            sposta dalla gestione degli individui alla gestione del
            team, che viene considerato sia entità sociale che unità
            base di lavoro, e quali sono gli skill richiesti al PM.
            </p>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">10:10 &ndash; 10:45</td>
        <td>
            <h4><a href="#" title="">Time Management per i
                    professionisti IT</a></h4>
            <a href="https://twitter.com/abragad" title="Alessio
                Bragadini">Alessio Bragadini - @abragad</a><br />

            <p>

            Qualsiasi modello organizzativo per un team e un'azienda
            parte sempre dall'assunto che il professionista sappia come
            gestire il proprio lavoro, ma a volte è più semplice da dire
            che da fare.  Progetti, scadenze, interruzioni ed emergenze
            rendono difficile la gestione del tempo, e sviluppatori e
            sistemisti hanno spesso esigenze diverse.  Parleremo di
            diversi approcci possibili, citando Getting Things Done,
            Inbox Zero, Pomodoro Technique e altro.

            </p>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">10:50 &ndash; 11:25</td>
        <td>
            <h4><a href="#" title="">Monitoring as Software Validation</a></h4>
            <a href="#" title="Serena Lorenzini">Serena Lorenzini</a><br />

            <p>

            Mentre è ormai consolidato l'uso del testing per guidare il
            design del software (Test Driven Design) o per accettare il
            codice prodotto (Unit tests, Acceptance tests eccetera),
            molto meno diffusa è la pratica di instrumentare il codice
            al fine di monitorare il comportamento del codice durante
            l'esecuzione, non a fini di profilazione, ma unicamente per
            determinare delle figure di merito che mostrino l'andamento
            nel tempo delle componenti software sotto osservazione. Si
            descriverà l'esperienza di due progetti dove Graphite e
            Statsd sono stati affiancati fin da subito agli altri
            strumenti di sviluppo, e i vantaggi che ne sono risultati.

            </p>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">11:30 &ndash; 13:00</td>
        <td>
          <h4><strong>Open Spaces</strong></h4>
        </td>
      </tr>

      <tr class="break lunch">
      <td class="time">13:00 &ndash; 14:30</td>

        <td><h4><strong>Pranzo</strong></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">14:35 &ndash; 15:10</td>
        <td>
            <h4><a href="#" title="">Useful Lean Tools: Kanban & Value Stream Mapping</a></h4>
            <a href="https://twitter.com/bettazzoni" title="Roberto
                Bettazzoni">Roberto Bettazzoni - @bettazzoni</a><br />

            <p>

            Storicamente, le pratiche Lean hanno migliorato ed
            accelerato le operazioni delle aziende manifatturiere, come
            Toyota. Oggi queste pratiche si sono dimostrate utili anche
            in attività diverse, come quella dello sviluppo software,
            quella della fornitura di servizi IT e nelle operation.

            </br>

            Questo talk Illustra l’utilizzo delle due pratiche Lean
            “value stream mapping”  e “kanban”  per visualizzare,
            analizzare ed ottimizzare il flusso di lavoro e
            delle informazioni. Alcuni esempi mostreranno come sia possibile
            evidenziare i colli di bottiglia e le disfunzioni che
            rallentano la responsività o la produttività del nostro
            lavoro.

            </p>

        </td>
      </tr>

      <tr class="common_event">
        <td class="time">15:15 &ndash; 15:40</td>
        <td>
            <h4><a href="#"  title="">Linux namespace e cgroup</a></h4>
            <a href="#" title="Roberto de Ioris">Roberto de Ioris</a><br />

            <p>

            Negli ultimi anni le tecnologie di virtualizzazione
            <em>lighweight</em> sono diventate lo standard de-facto nei
            sistemi PaaS e nei tool di deployment più avanzati. Il talk
            illustrerà i due sottosistemi utilizzati nel kernel Linux
            (namespace e cgroup) e come vengono utilizzati da progetti
            come lxc, docker, uWSGI e addirittura il browser Chrome.

            </p>

        </td>
      </tr>

      <tr class="common_event">
        <td class="time">15:45 &ndash; 16:20</td>
        <td>
            <h4><a href="#" title="">Hey Java Coder: you don't know jack
            about application architecture</a></h4>
            <a href="http://twitter.com/xpmatteo" title="Matteo
                Vaccari">Matteo Vaccari - @xpmatteo</a><br />

            <p>
            Ricordo quando Java e nato... l'argomento del giorno era
            scrivere applicazioni desktop! E la preoccupazione
            principale era la portabilità.  Per questo Java fa di tutto
            per mettersi in mezzo fra il programmatore e il sistema
            operativo. Passati vent'anni, Java viene usato quasi
            esclusivamente sul server, dove la portabilità è inutile.
            Eppure Java cerca sempre di frapporsi fra te e l'OS.
            </br>
            Il mio messaggio è "IL SISTEMA OPERATIVO È TUO AMICO".
            Sfruttalo a tuo vantaggio ed otterrai applicazioni più
            robuste ed efficienti.  Dormirai meglio e ti divertirai di
            più!  Parleremo delle convenzioni/abitudini/assunzioni/dogmi
            del mondo Java che si possono utilmente sovvertire.
            </p>

        </td>
      </tr>

      <tr class="common_event">
        <td class="time">16:25 &ndash; 17:45</td>
        <td>
          <h4><strong>Open Spaces</strong></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">17:50</td>
        <td><h4><a href="#" title="">Chiusura</a></h4></td>
      </tr>
    </table>

  </div>

  <div class="separator"></div>
</section>
